@font-face {
  font-family: 'Galano-Grotesque';
  src: url('https://cdn.getviia.com/public/Galano/Rene Bieder - Galano Grotesque.otf')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-Medium';
  src: url('https://cdn.getviia.com/public/Galano/Rene Bieder - Galano Grotesque Medium.otf')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-Light';
  src: url('https://cdn.getviia.com/public/Galano/Rene Bieder - Galano Grotesque Light.otf')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-Bold';
  src: url('https://cdn.getviia.com/public/Galano/Rene Bieder - Galano Grotesque Bold.otf')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-SemiBold';
  src: url('https://cdn.getviia.com/public/Galano/Rene Bieder - Galano Grotesque SemiBold.otf')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-woff';
  src: url('https://cdn.getviia.com/public/Galano/GalanoGrotesque-Regular.woff')
    format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-SemiBold-woff';
  src: url('https://cdn.getviia.com/public/Galano/GalanoGrotesque-SemiBold.woff')
    format('opentype');
}
