$app-green: (
  50: #e3f7f0,
  100: #b8ecd9,
  200: #89e0c0,
  300: #5ad3a7,
  400: #36c994,
  500: #13c081,
  600: #11ba79,
  700: #0eb26e,
  800: #0baa64,
  900: #069c51,
  A100: #c8ffe1,
  A200: #95ffc4,
  A400: #6fefa8,
  A700: #67e09d,
  contrast: (
    50: #37474f,
    100: #37474f,
    200: #37474f,
    300: #37474f,
    400: #37474f,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #37474f,
    A200: #37474f,
    A400: #37474f,
    A700: #37474f,
  ),
);

$app-blue: (
  50: #f0e6ff,
  100: #d5c2ff,
  200: #b798ff,
  300: #966bff,
  400: #7745ff,
  500: #5013ff,
  600: #3b0eff,
  700: #0000ff,
  800: #0000f8,
  900: #0000f9,
  A100: #0000ff,
  A200: #0000ff,
  A400: #0000ff,
  A700: #0000ff,
  contrast: (
    50: #37474f,
    100: #37474f,
    200: #37474f,
    300: #37474f,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #37474f,
    A200: #37474f,
    A400: #37474f,
    A700: #ffffff,
  ),
);

$app-grey: (
  50: #eff2f3,
  100: #d7dee1,
  200: #b0bec5,
  300: #a1b1ba,
  400: #8ca1ab,
  500: #78909c,
  600: #708894,
  700: #657d8a,
  800: #5b7380,
  900: #48616e,
  A100: #cdedff,
  A200: #9adbff,
  A400: #67c8ff,
  A700: #4dbfff,
  contrast: (
    50: #37474f,
    100: #37474f,
    200: #37474f,
    300: #37474f,
    400: #37474f,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #37474f,
    A200: #37474f,
    A400: #37474f,
    A700: #37474f,
  ),
);

$app-light-blue: (
  50: #e2f3f7,
  100: #b6e1eb,
  200: #85cedd,
  300: #54bacf,
  400: #2fabc5,
  500: #0a9cbb,
  600: #0994b5,
  700: #078aac,
  800: #0580a4,
  900: #036e96,
  A100: #c1ecff,
  A200: #8edcff,
  A400: #5bcdff,
  A700: #41c5ff,
  contrast: (
    50: #37474f,
    100: #37474f,
    200: #37474f,
    300: #37474f,
    400: #37474f,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #37474f,
    A200: #37474f,
    A400: #37474f,
    A700: #37474f,
  ),
);
