<div class="footer">
  <div class="footer__content">
    <div class="footer__content__top">
      <div class="footer__content__top__logo">
        <app-aiia-icon name="viialight"></app-aiia-icon>
      </div>
      <div class="footer__content__top__links-area">
        <div class="footer__content__top__links-area__links">
          <div class="footer__content__top__links-area__links__item">
            <a href="https://cdn.getviia.com/public/Viia_PrivacyPolicy.pdf">
              {{ 'FOOTER.LINK.PRIVACY' | translate }}</a
            >
          </div>
          <div class="footer__content__top__links-area__links__item">
            <a href="https://cdn.getviia.com/public/Viia_TermsOfUse.pdf">
              {{ 'FOOTER.LINK.TERMS' | translate }}</a
            >
          </div>
          <div class="footer__content__top__links-area__links__item">
            <a href="mailto:support@getviia.com?Subject=Viia%20Support">
              {{ 'FOOTER.LINK.SUPPORT' | translate }}</a
            >
          </div>
        </div>
        <div class="footer__content__top__links-area__social">
          <div class="footer__content__top__links-area__social__item">
            <a href="https://twitter.com/NordicAPI">
              <app-twitter-icon name="standard"></app-twitter-icon>
            </a>
          </div>
          <div class="footer__content__top__links-area__social__item">
            <a href="https://www.linkedin.com/company/nordic-api-gateway/">
              <app-linkedin-icon name="standard"></app-linkedin-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content__bottom">
      <div class="footer__content__bottom__license">
        {{ 'FOOTER.LICENSE' | translate }}
      </div>

      <div class="footer__content__bottom__copyright">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </div>
    </div>
  </div>
</div>
